.carousel {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.thumbnails {
  display: flex;
  gap: 10px;
  overflow-x: scroll;
}

.thumbnail {
  cursor: pointer;
  border: 2px solid transparent;
  transition: transform 0.3s, border-color 0.3s;
}

.thumbnail:hover {
  transform: scale(1.1);
  border-color: #0070f3;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  z-index: 1000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modalContent {
  display: flex;
  gap: 20px;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.largeImage img {
  max-width: 100%;
  height: auto;
}

.reviewDetails {
  max-width: 400px;
}

.slick-prev:before,
.slick-next:before {
  color: #0050ff; /* Ensure the arrows are styled */
  font-size: 24px; /* Make them bigger if needed */
}

/* Add a local class alongside the global selector */
.local-slick-container :global(.slick-prev),
.local-slick-container :global(.slick-next) {
  top: 90% !important;
}

.thumbnailBox {
  width: 150px;
  height: 150px;
  margin-right: 16px;
  border-radius: 10px;
  overflow: hidden;
  display: inline-block;
}
